@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header{   
    display: flex;
    flex-direction: column;
}
.navElement{
    display: grid;
    grid-template-columns:  30% 70% ;
    margin-top: 20px;
    font-family: 'Inconsolata', monospace;
    
}

.navElement__icon{
    justify-self: flex-start;
    align-self: flex-start;
    position: relative;
    top: 3px;
    left: 20px;
    font-size: 30px;
    color: #171717;
}

.navElement__links{
     grid-column: 2/6; 
     justify-self: center;
     
}
.navElement__links ul{
   list-style: none;
   display: grid;
   grid-template-columns: repeat(7,1fr) ;
   grid-gap: 30px;
}
.navElement__links ul a{
    align-self: center;
    text-transform: uppercase;
    justify-self: center;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: all 400ms ease;
    padding:10px;
    
}
.navElement__links ul a:hover{
    background-color: #A03C78; 
    border-radius: 10px;
    color: beige;

}
.heading{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.illustrations{
    width: 50%;
    
}
.illustrations img{
    width: 100%;
    height: auto;
}
.heiding-content{
   text-align: center;
   width: 50%;
   font-family: 'Tourney', cursive;
   line-height: 40px;
   position: relative;
   background-image: url("http://www.w3.org/2000/svg");
}
.heiding-content p{
    font-family: 'Fira Sans', sans-serif;
}

.link-cv{
    text-align: center;
    padding: 15px;
    text-decoration: none;
    background-color: #D62AD0;
    width: 15%;
    position: relative;
    left: 42%;
    border-radius: 20px;
    color: beige;
    transition: all 400ms ease;
    font-family: 'IBM Plex Sans', sans-serif;
}
.link-cv:hover{
    
    transform: translatey(-10px);
    -webkit-box-shadow: 3px 5px 18px 0px rgba(0,0,0,0.75); 
box-shadow: 3px 5px 18px 0px rgba(0,0,0,0.75);
}
.heiding-content ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.heiding-content ul a{
    margin-left: 10px;
    font-size: 30px;
    transition: all 400ms ease;
}
.heiding-content ul a:hover{
    transform: rotate(1turn);
    
    color: #FBC7F7;
}
.link-bottom{
    margin-top: 20px;
    font-size: 3rem;
    width: 3%;
    position: relative;
    left: 48%;
    color: #5C33F6;
    transition: all 400ms ease;
}
.link-bottom:hover{
    transform: translateY(10px) !important;
}
#about-me{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    justify-items: center;
    margin-top: 20px;
}
.picture-bilal img{
    width: 90%;
    height: 90%;
    margin-left: 20px;
    border-radius: 30px;
    transition: all 300ms ease;
}
.picture-bilal img:hover{
  transform: scale(1.05);
}
.info-pers{
   align-self: center;
}
.info-pers h3{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
}
.content-pers{
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    overflow-y: hidden;
}
#email{
    text-transform: none;
}
#education{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    justify-items: center;
    margin-top: 30px;
    min-width: 100%;
    
}
.ligne{
    border: 1px black solid;
}
.type-formation{
    
}
.type-formation ul{
    list-style: none;
    font-family: 'Inconsolata', monospace;
    line-height: 30px;
}
.type-formation ul li i{
    margin-right:10px ;
}
.type-formation h3{
    margin-bottom: 20px;
    font-family: cursive;
}
#projects{
    margin-top: 30px;
    display: none;
}
.title-section h3{
    text-align: center;
    font-family: 'Roboto Slab', serif;

}
.group-projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 30px;
    row-gap: 40px;
}
.projects{
    background-color:#EEEEEE ;
    padding: 20px 0 20px 0;
    border-radius: 13px;
    transition: all 400ms ease;
}
.projects:hover{
     background-color: #cfbbbb;
     -webkit-box-shadow: 1px 19px 20px -8px #000000; 
     box-shadow: 1px 19px 20px -8px #000000;
     transform: translateY(20px);
}
.projects img{
    width: 300px;
    height: 60%;
    margin: 0 4px 0 4px;
    border-radius: 20px;
}
.tech{
    display: flex;
    
}
.tech span{
    margin-left: 5px;
    padding: 5px;
    background-color: hsl(310, 34%, 73%);
    border-radius: 10px;
    text-transform: uppercase;
}
.projects p{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;

    
}
.group-btn{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.group-btn a{
    margin-left: 10px;
    text-decoration: none;
    padding: 20px;
    background-color:#F6C6EA ;
    border-radius:20px ;
    font-family: 'Inconsolata', monospace;
    transition: all 400ms ease;

}
.group-btn a:hover{
     color: black;
     background-color: cornflowerblue;
     transform: scale(1.1);
     
}
#certificate{
    margin-top: 5%;
}
.text-section{
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 40px;
}
 .group-certificate{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     justify-items: center;
      grid-gap: 20px;
      
 }
 .certifi img{
    width: 400px;
    height: 300px;
    margin-bottom: 3px;
 
 }
 #img{
     margin-bottom: 10px;
 }
 .certifi a{
     align-items:center ;
     font-family: 'Roboto Slab', serif;
     text-transform: capitalize;
     text-decoration: none;
     position: relative;
     left: 25%;
     color: #EEEEEE;
     background-color: #FF4848;
     padding: 10px;
     border-radius: 5px;
     transition: all 400ms ease;
 } 
 .certifi a:hover{
     color: aliceblue;
     background-color: #FF616D;
 }


/* Media Queries */
@media (max-width:966px){
    .navElement__links{
        display: none;
    }

}
@media (max-width:889px){
    
}